<div class="mb-1">
<mat-card >
  <mat-card-header>
    
    
    <mat-card-subtitle > 
            
            </mat-card-subtitle>
            
          </mat-card-header>
          <div class="flex flex-row items-center justify-between m-2">
            <div class="flex items-center gap-3 ">
                <div>
                    <img class="round-div no-reduce" src="https://picsum.photos/50/50" alt="">
                </div>
                <div><p class="user-name pt-2">{{this.comment?.username}}</p></div>

            </div>
            <div class="flex itmes-center">
              <div>
                <img class="" src="../../../../assets/icons/date.svg">
              </div>
              <div>
                <P class="user-name pt-1 pl-2">{{comment?.timestamp}}</P>
              </div>

            </div>
            @if(comment?.delete){

            <div class="mr-5">
              <button (click)="delete()">
                <img src="../../../../assets/icons/delete.svg" alt="">
              </button>
            </div>
            }
          </div>
    <hr>
      <mat-card-content >

        <div>
          <p class="pt-2 text-indigo-900" >{{comment?.content}}</p>
        </div>

      </mat-card-content>
  
      <hr>

  
    </mat-card>
</div>