
<div class="mb-5">
<mat-card class="example-card border-t-4">
  <mat-card-header>
    <div class=" items-center ">
      <div >
        <mat-card-title >
          <h1 class="pl-3 block text-indigo-900 title"> {{bPost?.title}}</h1>
        </mat-card-title> 


        <mat-card-subtitle>
        <div class="flex items-center container">
          <div class="pr-10 flex items-center gap-3"> 

              <div >
                  <img class="round-div no-reduce" src="https://picsum.photos/50/50">
              </div>
            
        
              
              <div class="pt-2">
                    <p>{{bPost?.author_name}}</p> 
              </div>
              
        
          </div>


          <div class="pl-10 flex items-center "> 
            <div>
              <img class="no-reduce2" src="../../../../assets/icons/date.svg">


            </div>
            
            <div class="pt-3 pl-3">
              <p> {{bPost?.timestamp|date:"MMM dd, yyyy 'at' hh:mm" }}</p>
            </div>

          </div>

          <div class="pl-20 flex items-center">
            
            <div>
              <img class="no-reduce2" src="../../../../assets/icons/team.svg">
            
          </div>

          <div class="pl-5">
            <p class="pt-3"> {{bPost?.team_name}}</p>
            
          </div>

             
          </div>

        </div>
   
      
       </mat-card-subtitle>
      
      </div>
     

    
    </div>
 </mat-card-header>



  <hr>
    <mat-card-content>

      <div class="pt-3"> 
        @if(!detail){
          <div class="text-indigo-900"[innerHTML]="bPost?.html?.substring(0,200)"></div>

          <p >@if(content.length >200){<a routerLink='post/{{bPost?.id}}' class=" underline text-indigo-500 showmore"> show more..</a>}</p>

        }

        @else{
          <p class="text-indigo-900">{{bPost?.html}} </p>

        }
         

      </div>
    

   
    </mat-card-content>

    <hr>

<div class="flex flex-row justify-between mr-6">

  <div class="flex fle-row  basic-1/3 gap-5 ">


    <div class="flex fle-row   gap-2 items-center pl-10">
      <div>
        <button (click)="isOpenLikes =!isOpenLikes" type="button" cdkOverlayOrigin #triggerLikes="cdkOverlayOrigin">
          <img class="no-reduce2 w-5" src="../../../../assets/icons/likecounter.svg">
        </button>
       

      </div>
      <div>
        <p class="text-indigo-800 pt-3">{{likes()}}</p>

      </div>

    </div>
    

    <div class=" flex flex-row justify-start gap-2 items-center mr-6">
      <div>
        <button (click)="!detail? comment(): null" >
            <img class="no-reduce2 w-5" src="../../../../assets/icons/commentcounter.svg">
        </button>
        

      </div>
      <div>
        <p class="text-indigo-800 pt-3">{{bPost?.comments}}</p>

      </div>



    </div>


  </div>

  <div class="basic-1/3 flex flex-row gap-4 mr-4 items-center ">
  @if(user){


    <div> 
      <button (click)="likeHandler()">
        @if(liked()){
          <img clas="no-reduce3" src="../../../../assets/icons/liked.svg">
        }
        @else{
          <img clas="no-reduce3" src="../../../../assets/icons/noliked.svg">
        }
      </button>

    </div>
    @if(!detail){
          <div>
      
      <button (click)="comment()"  >

        <img src="../../../../assets/icons/newcomment.svg">
      </button>

    </div>


    }

    @if(bPost?.edit){

    <div> 
      <button (click)="editer()" >

        <img src="../../../../assets/icons/edit.svg">
      </button>

    </div>



   
    <div> 
      <button (click)="delete()" class="w-7">

        <img src="../../../../assets/icons/delete.svg">
      </button>

    </div>
    }

 
}
 </div>



<!-- This template displays the overlay content and is connected to the button -->

</div>

  </mat-card>




</div>  



<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="triggerLikes"
  [cdkConnectedOverlayOpen]="isOpenLikes"
  (overlayOutsideClick)="isOpenLikes=false"
>
 <app-userlist [likes]="true" [postId]="bPost?.id">    </app-userlist>
</ng-template>



