<div class=" flex flex-row  ">

@if(this.previousPage){
<div class="pr-3">
    <button (click)="backHandler()">
        <img class="round-div pl-2  hover:bg-slate-300" src="../../../../assets/icons/back.svg" alt="">
    </button>
</div>
}




<div class="pt-1 pr-2 pl-2">
    <p class="text-indigo-900 font-bold p-0 m-0">{{initItem}}-{{finalItem}} of {{totalItem}}</p>
</div>

@if(this.nextPage){
<div class="pl-3">

 <button (click)="nextHandler()">
    <img class="round-div pl-1 pr-1 hover:bg-slate-300" src="../../../../assets/icons/next.svg" alt="">
</button>
</div>

}
</div>