<div class="flex flex-col items-center">

  <div class="flex flex-col">

 <div> 

     <div class="self-start ">

  </div>
      <button (click)="back()" >
      <img class="fixed-button" src="../../../assets/icons/backpage.svg" alt="">
    </button>
    <app-bpost [bPost]="this.bPost" [detail]="true"> </app-bpost>
  </div>


</div>


 

  <div>
    <app-comment-list [postId]="this.bPost?.id" [comments]="isCommentValid()"> </app-comment-list>
  </div>
@if(this.user){
  <div>
    <app-new-comment [postId]="this.bPost?.id"></app-new-comment>
  </div>
  
}

</div>
