







.register{
    height: 2.3rem;
}

.search-icon {
    margin-left: 1rem;
    
    width: 2rem; /* Tamaño del ícono */

    pointer-events: none; /* Evita que el ícono capture eventos de clic */
}


button {
    background: none;
    border: none;
    cursor: pointer;
}




@media screen and (max-width: 768px) {
   .navbar {
        flex-direction: column;
    }

   .left-side,
   .right-side {
        flex-direction: column;
        align-items: flex-start;
    }

   .search-bar {
        width: 100%;
    }
}
.home{
    height: 3.5rem;

}
.round-div {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    height: 50px; /* Asegúrate de que la altura y el ancho sean iguales para una imagen perfectamente redonda */
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  
  .no-reduce {
    max-width: 100%;
    height: auto;
    min-width: 50px; /* Ajusta este valor según el tamaño mínimo deseado */
  }

  .logout{
    height: 2.5rem;

  }

  .fixed-button {
    position: fixed;
    bottom: 2rem;
    right: 20px;
    padding: 7px 7px;

    
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fixed-button img{
    height: 2.7rem;
}

.fixed-button:hover {
    background-color: #0057b38c;
}