.titulo{

    font-weight: 500;
    margin-left: 0rem;
}
.form {
    align-items: center;
    padding: 50px;
    background-image: url('../../../assets/background.svg');
    
}

.subtitle{
    margin-left: 0rem;

}
.h2{
    margin-bottom: 0;
}



