.titulo{

    font-weight: 500;
    margin-left: 0rem;
}
form {
    align-items: center;
    padding: 50px;
    background-image: url('../../../assets/background.svg');
    
}
.general{
    margin-top: 1rem;
    margin-left: 1rem;
}
.subtitle{
    margin-left: 0rem;

}
.h2{
    margin-bottom: 0;
}

.field-name{
font-weight: 550;
font-size: medium;
}
.text{
    width: 25rem;
    height: 40rem;
}

