@import '../node_modules/quill/dist/quill.snow.css';
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.invalid{
    border-color: brown;
    border-width: 0.17rem;
    border-radius: 0.5rem;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3) ;
}

:focus {
    outline: none;
  }


  input{
    padding-left: 1rem;
  }

.btn-success2{
@apply rounded-md  px-3 py-2 text-sm font-semibold  text-indigo-900  hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-700
    
}
.btn-danger{
 @apply mr-5 rounded-md bg-cyan-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-cyan-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-700

}


html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ql-editor {
    box-sizing: border-box;
    counter-reset: list-0 list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    line-height: 1.42;
    height: 20rem;

    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: large;
    @apply text-cyan-900

}

.ql-container.ql-snow {
    max-width: 55rem;
    @apply border rounded-lg text-cyan-900
    shadow-sm ring-1 ring-inset ring-gray-300
}

.ql-toolbar.ql-snow {
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 8px;
    @apply border rounded-lg w-full h-full text-cyan-900
    shadow-sm ring-1 ring-inset ring-gray-300
    
    
}
/* .ql-container.ql-snow :focus-within{
 border-width: 2px;
 border-radius: 0.5rem;
 border-color:rgb(79, 17, 138);
 

} */

quill-editor .ql-container.ql-snow:focus-within{
    @apply ring-2 ring-inset ring-cyan-700
}

quill-editor.invalid2 .ql-container.ql-snow{
    border-color: brown;
    border-width: 0.17rem;
    border-radius: 0.5rem;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3) ;
}



