@if (users!=undefined){
  <div
  class="bg-white pl-5 pt-3 pb-3 pr-5 flex flex-col items-center border gap-0 rounded"
>

<div>
  @for (user of users; track user.username){
  <div class="flex items-center gap-2">
    <div>
      <img class="round-div no-reduce" [src]= />
    </div>
    <div>
      <p class="style">{{ user.username }}</p>
    </div>
  </div>

  }
</div>

  <div class=" pt-2">
    <app-paginator
      [nextPage]="nextPage()"
      [previousPage]="previousPage()"
      [initItem]="initItem()"
      [finalItem]="finalItem()"
      [totalItem]="totalItem()"
      (back)="back()"
      (next)="next()"
    ></app-paginator>
  </div>


</div>
}
